@font-face {
  font-family: "gg sans", sans-serif;
  src: url("/fonts/ggsans-Normal.ttf");
}

html,
body {
  font-family: "gg sans";
}
@tailwind base;
@tailwind components;
@tailwind utilities;

/* .main-cont {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
}

@media screen and (max-width: 768px) {
  .main-cont {
    grid-template-columns: 1fr;
  }
} */

.main-cont {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  background-color: #2f3136;
  padding: 0 1rem;
}

.channelHover {
  background-color: #3f4248;
}

.hide-scroll {
  scrollbar-width: none;
}
